# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary

# Documents
*.pdf binary
